**/.DS_Store
.DS_Store
.DS_Store?
Desktop.ini
._*
Thumbs.db
ehthumbs.db
.Spotlight-V100
.Trashes

xcuserdata/
*.xcscmblueprint
*.xccheckout

build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

*.hmap

*.ipa
*.dSYM.zip
*.dSYM

timeline.xctimeline
playground.xcworkspace

.build/

Carthage/Build/

Dependencies/
.accio/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

iOSInjectionProject/

*.d

*.o
*.ko
*.obj
*.elf

*.ilk
*.map
*.exp

*.gch
*.pch

*.lib
*.a
*.la
*.lo
*.lai

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.dSYM/
*.su
*.idb
*.pdb

*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.d
*.slo
*.smod
BinaryLinker/Linker
